*.arff
*.aux
*.BACKUP.*
*.BASE.*
*.bat
*.bin
build/
*.bz2
cs5100/cheisler/
cs5600/src/examples/
cs5600/src/filesys/db
cs5600/src/tests/
*.class
*.csv
*.d
*.data
*.dsk
*.dvi
*.error
gradle/
*.gz
*.jar
layouts/
*.LOCAL.*
*.lock
*.~lock*
*.log
*.MF
*.nfs*
*.o
*.odt
*.old
*.orig
*.output
output/
outputs/
*.pdf
*.png
*.properties
*.pyc
*.REMOTE.*
*.result
*.save
*.swp
syslogs/
*.tar
test_cases/
*.txt
*.zip
